body {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(img/armilla.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 6em;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

button {
  width: 5em;
  font-family: "GFS Neohellenic", sans-serif;
  font-size: 1.5em;
  background-color: #c7b9a4;
  border: solid 1px #6d665b;
  border-radius: 10px;
}
button:hover {
  background-color: #9be1ff;
  transition: 1s;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4f0ea;
  border-radius: 20px;
  padding: 4em;
  padding-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.5em;
}

h4{
  font-size: 2.5em;
}

#infoPlus{
  font-size: 2.5em;
}

#fin p {
  font-size: 2em;
}

.choix {
  font-size: 2em;
  background-color: #f4f0ea;
  border-radius: 10px;
  padding: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: grab;
}

.option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}

.choix:hover {
  background-color: #9be1ff;
  margin-top: 4px;
  margin-bottom: 4px;
  transition: 1s;
}


#score {
  text-align: end;
  font-size: 1.5em;
  font-weight: 700;
  top: 0;
}

.true {
  background-color: rgb(113, 255, 130);
}
.false {
  background-color: rgb(255, 110, 57);
}

@media screen and (min-width: 1300px) {
  main {
    padding: 10%;
    padding-top: 0;
  }
}

@media screen and (min-width: 1000px) {
  body {
    padding: 1em;
  }

  .choix {
    width: 45%;
  }

}

@media screen and (max-width: 1000px) {
  body {
    padding: 1em;
  }

  .choix {
    width: 100%;
  }

}